.error-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    padding: 25px 0;
    background-color: rgb(221, 0, 0);
    color: var(--white);
    border-radius: 10px;
}