.product-table {
    background-color: var(--white);
    border-radius: 10px;
    width: 100%;
    margin: 20px 0;
}

.product-table th {
    padding: 20px;
}
.product-table td {
    padding: 20px;
    display: flex;
    align-items: center;
}

.product-table-img {
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.product-table-btn {
    padding: 15px 25px;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--white);
}

.product-table-header-tr {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 70px 0 460px;
}

.product-table-tr {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 30px;
}

.edit-products-form-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-color: var(--white-50);
    padding: 10px 20px;
    border-radius: 10px;
}
.edit-products-form-group input {
    width: 100%;
    border: none;
    padding: 0 10px 0 0;
    background-color: var(--white-50);
    outline: none;
}
.edit-products-form-group span {
    font-size: 20px;
}
